/*==========================
ここで設定する基本項目
・color
・font-family,font-weight
・text-align,text-decoration
・position,z-index
==========================*/

/* ----------- ページ全体 ----------- */
html{
    font-size: 16px;
    line-height: 1.4em;
}

body {
    font-family: 'Avenir','Helvetica Neue','Helvetica','Arial','Hiragino Sans','ヒラギノ角ゴシック',YuGothic,'Yu Gothic','メイリオ', Meiryo,'ＭＳ Ｐゴシック','MS PGothic','Sawarabi Gothic', sans-serif,'Miltonian Tattoo', cursive;
    margin: 0;
    padding: 0;
    }

a{
    text-decoration: none;
}

ol,ul,li{
    list-style-type: none;
}

h1,h2,h3{
    text-align: center;
}

h1{
    font-size: 2.5em;   
}

div#wrapper{
    max-width: 1000px;
    margin: 0 auto;
    font-family: 'Miltonian Tattoo', cursive;
}

/* 基本のカラー設定 */
body{
    background-color: #EFE096;
}

header,footer,a{
    color: #df3500;
}

h1{
    color:#F86001; 
}

main{
    color: #333;
}

/* ----------- ヘッダー・メニュー部 ----------- */
header{
    font-size: 1.4em;
}

nav{
    padding: 10px 25px;
}

nav ul{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

nav ul li a.home{ 
    line-height: 1.5em;
}

nav ul li a.home:before{
    content: '';
    display: block;
    width: 1.5em;
    height: 1.5em;
    margin-right: 0.3em;
    background: url(../img/common/home.svg) no-repeat left center;
    background-size: contain;
    float: left;
}

nav ul li a.profile{
    line-height: 1.5em;
}

nav ul li a.profile:after{
    content: '';
    display: block;
    width: 1.5em;
    height: 1.5em;
    margin-left: 0.3em;
    background: url(../img/common/profile.svg) no-repeat right center;
    float: right;
}


/* ------ トップページ　メインビジュアル ------ */
main{
    clear: both;
    padding-top: 30px;
}

div#content{
    width: 60%;
    margin: 0 auto 2em auto;
    height: 250px;
    background: url(../img/potechicat.png) no-repeat left top;
    background-size: contain;
}

#content div{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin: 0 0 0 40%;
}

#content div h1{
    text-align: left;
    font-size: 3.2em;
    line-height: 1.4em;
    margin: 0;
}

#content div p{
    display: block;
    height: 90px;
    overflow: hidden;
    background: url(../img/common/fukidasi_intro.svg) no-repeat left bottom;
    background-size: contain;
    font-size: 0;
    margin: 0;
}


/* ----------- トップページ　作品一覧の部分 ----------- */
#works div{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#works div dl{
    position: relative;
    flex-basis: auto;
    width: 50%;
    height: 180px;
    border-radius: 5px;
    text-align: center;
}

#works dt{
    background: #EFE096;
    font-size: 1.2em;
    padding-bottom: 0.7em;
}

#works dl.case01{
    background:url(../works/img/tenroku.png) no-repeat;
    background-size: cover;
}

#works dl.case02{
    background:url(../works/img/valentine.png) no-repeat;
    background-size: cover;
}
#works dl.case03{
    background:url(../works/img/pcschool.png) no-repeat;
    background-size: cover;
}
#works dl.case04{
    background:url(../works/img/dentalclinic.png) no-repeat;
    background-size: cover;
}
#works dl.case05{
    background:url(../img/comingsoon.png) no-repeat;
    background-size: cover;
}


.ct{
    background-position: top center;
}
.cc{
    background-position: center center;
}
.c5{
    background-position: center 5%;
}
.c10{
    background-position: center 10%;
}
.c15{
    background-position: center 15%;
}

#works dd{
    display: block;
    width: 100%;
    font-size: 1.4em;
    position: absolute;
    bottom: 0;
    margin-inline-start: 0;
    line-height: 1.6em;
}

#works dd a{
    display: inherit;
    background-color: #df3500;
    color: #fff;
    padding: 5px 0;
}

#works dd a:hover{
    text-decoration: underline #fff;
}

#works dd a::after{
    content: '';
    display: inline-block;
    width: 16px;
    height: 12px;
    background: url(../img/common/newwindow.svg) no-repeat right;
    background-size: contain;
    vertical-align: middle;
}


/* ----------- プロフィール・作品紹介 共通 ----------- */
section{
    clear: both;
    width: 70%;
    padding: 0;
    margin: 0 auto;
    font-size: 0.76em;
}

section h1{
    font-weight: normal;
}

section h2{
    font-size: 18px;
}

section h3{
    font-size: 14px;
}


/* ----- プロフィール・ヒストリー・スキル・ポイント ----- */
section#prof dl dt{
    margin-left: 1em;
    padding-left: 1em;
    height:50px;
    font-size: 2em;
    letter-spacing: 0.05em;
    line-height: 45px;
    color: #fff;
}

section#prof dl dd{
    margin-bottom: 2em;
    font-family: 'M PLUS 1p', sans-serif;
    font-weight: 600;
    line-height: 1.6em;
}

div#prof_title{
    margin: inherit;
    height: 350px;
    background: url(../img/drumcat.png) no-repeat center 60px;
}

dt.pr{
    background: url(../profile/img/fukidasi_pr.svg) no-repeat left center;
    background-size: contain;
}

dt.history{
    background: url(../profile/img/fukidasi_his.svg) no-repeat left center;
    background-size: contain;
}

dt.skills{
    background: url(../profile/img/fukidasi_skill.svg) no-repeat left center;
    background-size: contain;
}

div.it_skills{
    margin-left: 25px;
}

div.it_skills dd{
    display: block;
    float: left;
    margin-left: 2%;
    margin-right: 2%;
    padding: 1em;
    width: 46%;
    background-color: #fff;
    border: 2px solid #898055;
    border-radius: 10px;
}

div.it_skills p{
    height: 2em;
    margin: 0;
    color: #DF3500;
    font-family: 'Miltonian Tattoo', cursive;
}

div.it_skills dd.dtp,dd.web{
    font-size: 0.8em;
    line-height: 1.2em;
}

/* ----------- 作品紹介・タイトル下 部分 ----------- */
dl.memo {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    display: inline-block;
    width: 100%;
    margin: 0;
    line-height: 2.5em;

}

dl.memo dt {
    width: 6.5em;
    height: 2.6em;
    float: left;
    text-align: center;
    color: #fff;
    background: url(../img/bg_memo01.png) no-repeat;
    background-size: contain;
}

dl.memo dd{
    margin: 0;
    padding-right: 15px;
    margin-bottom: 0.5em;
}

dl#point{
    clear: both;
    font-size: 1em;
    line-height: 1.8em;
}

dl#point dt{
    width: 5em;
    height: 2.5em;
    line-height: 2em;
    padding-left: 1em;
    font-size: 1.3em;
    color: #fff;
    background: url(../img/bg_point.png) no-repeat;
    background-size: contain;
}

dl#point dd{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    padding-right: 1.5em;
    margin-left: 2em;
    padding-bottom: 1.5em;
}

div#capture{
    clear: both;
    width: 100%;
    height: 350px;
    margin-bottom: 3em;
}

div#capture figure{
    position: relative;
    z-index: 1;
    text-align: center;
}

div#capture figure img{
    display: block;
    width:100%;
    height:350px;
    object-fit:cover;
    object-position: 50% 0%;
    border-radius: 6px;
}

figure a{
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    z-index: 2;
}

figure a:hover{
    background-color: #000;
    opacity: 0.3;
    border-radius: 6px;
}

/* ----------- 戻るボタン部分 ----------- */
div#button{
    clear: both;
    width: 8em;
    margin: 0 auto;
}

div#button a{
    display: block;
    width: 100%;
    height: 2em;
    line-height: 2em;
    color: #fff;
    font-size: 2em;
    text-align: center;
    background: url(../img/bt_back.png) no-repeat center center;
    background-size: contain;
}

div#button a:hover{
    position: relative;
    top: 3px;
    left: 1px;
}

/* ----------- フッター部 ----------- */
footer{
    clear: both;
    padding: 2em;
    background: url(../img/reluxneco.png) no-repeat 98% center;
}

footer div{
    height: 100px;
    padding-top: 5%;
    line-height: 1em;   
}

footer h3{
    text-align: left;
    font-size: 1.4em;
    margin-block-start: 0;
    margin-block-end: 0;
}

footer p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.7em;
}