/*==========================
ここで設定する基本項目
・color
・font-family,font-weight
・text-align,text-decoration
・position,z-index
==========================*/

/* ----------- ページ全体 ----------- */
html{
    font-size: 100%;
    line-height: 1.4em;
}

body {
    font-family: 'Avenir','Helvetica Neue','Helvetica','Arial','Hiragino Sans','ヒラギノ角ゴシック',YuGothic,'Yu Gothic','メイリオ', Meiryo,'ＭＳ Ｐゴシック','MS PGothic','Sawarabi Gothic', sans-serif,'Miltonian Tattoo', cursive;
    background-color: #EFE096;
    margin: 0;
    padding: 0;
    }

a{
    color:#DF3500;
    text-decoration: none;
}

ol,ul,li{
    list-style-type: none;
}

h1,h2,h3{
    text-align: center;
}

h1{
    font-size: 2.5em;
    color:#F86001; 
}

div#wrapper{
    max-width: 1000px;
    margin: 0 auto;
    font-family: 'Miltonian Tattoo', cursive;
}



/* ----------- ヘッダー・メニュー部 ----------- */
header{
    font-size: 1.4em;
}

nav ul{
    display: block;
    padding: 10px 25px;
    color:#DF3500;
}

nav ul li a{
    float: left;
}

nav ul li a.home{ 
    line-height: 1.5em;  
}

nav ul li a.home:before{
    content: '';
    display: block;
    width: 1.5em;
    height: 1.5em;
    margin-right: 0.3em;
    background: url(../img/home.svg) no-repeat left center;
    background-size: contain;
    float: left;
}

nav ul li a.profile{
    float: right;
    line-height: 1.5em;
}

nav ul li a.profile:after{
    content: '';
    display: block;
    width: 1.5em;
    height: 1.5em;
    margin-left: 0.3em;
    background: url(../img/profile.svg) no-repeat right center;
    float: right;
}


/* ------ トップページ　メインビジュアル ------ */
main{
    clear: both;
    padding-top: 30px;
    color: #333;
}

div#content{
    width: 60%;
    padding-left: 1em;
    margin: 0 auto;   
}

div.content_title{
    width: 100%;
    position: relative;
    margin: 0;
}

div.content_title h1{
    margin: 0;
    text-align: left;
    font-size: 3.2em;
    line-height: 1.4em;
    color: #DF3500;
}

div.content_title h1::before{
    content: '';
    display: block;
    width: 40%;
    height: 7em;
    background: url(../img/potechicat.png) no-repeat right top;
    background-size: contain;
    float: left;
}

div.caption{
    width: 45%;
    height: 8em;
    background: url(../img/fukidasi_a.png) no-repeat left bottom;
    background-size: contain;
    position: absolute;
    top: 85%;
    left: 40%;
}

div.caption h2{
    display: block;
    width: 100%;
    padding: 17% 10% 10% 23%;
    font-size: 0.9em;
    text-align: left;
}

/* ----------- トップページ　作品一覧の部分 ----------- */
section#works dl{
    position: relative;
    float: left;
    width: 28%;
    height: 180px;
    margin:20px 2.5% 20px 2.5%;
    border: 3px solid #9F2500;
    border-radius: 5px;
}

section#works dt{
    position: relative;
    top: 125px;
    background: #E86E48;
    opacity: 0.6;
    color: #fff;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

section#works dl.case01{
    background:url(../works/img/tenroku.png) no-repeat center 5%;
    background-size: cover;
}

section#works dl.case02{
    background:url(../works/img/valentine.png) no-repeat center 15%;
    background-size: cover;
}
section#works dl.case03{
    background:url(../works/img/pcschool.png) no-repeat center 5%;
    background-size: cover;
}
section#works dl.case04{
    background:url(../works/img/dentalclinic.png) no-repeat center 5%;
    background-size: cover;
}
section#works dl.case05{
    background:url(../img/comingsoon.png) no-repeat center center;
    background-size: cover;
}

section#works dd{
    display: block;
    width: 100%;
    position: absolute;
    bottom: 0;
    margin-inline-start: 0;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

section#works dd a{
    display: block;
    background-color: #E86E48;
    color: #fff;
    padding: 5px 0;
    line-height: 1.6em;
}

section#works dd a:hover{
    text-decoration: underline #fff;
    text-decoration: underline;
}

section#works dd a::after{
    content: '';
    display: inline-block;
    width: 16px;
    height: 12px;
    background: url(../img/common/newwindow.svg) no-repeat right;
    background-size: contain;
    vertical-align: middle;
}


/* ----------- プロフィール・作品紹介 共通 ----------- */
section{
    clear: both;
    width: 70%;
    padding: 0;
    margin: 0 auto;
    font-size: 0.76em;
}

section h1{
    font-weight: normal;
    margin: 0;
}

section h2{
    font-size: 18px;
}

section h3{
    font-size: 14px;
}

/* ----------- 作品紹介・タイトル下 部分 ----------- */
dl.memo {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2em;
    margin: 0;
    display: block;
    height: 65px;
    line-height: 65px;
}

dl.memo dt {
    width: 100px;
    padding-left: 0;
    float: left;
    color: #fff;
    text-align: center;
    background: url(../img/bg_memo01.png) no-repeat 3px 10px;
}

dl.memo dd{
    margin: 0;
    float: left;
    min-width: 180px;
    padding-right: 10px;
}

dl#point{
    font-size: 1.2em;
    line-height: 1.8em;
}

dl#point dt{
    height: 40px;
    line-height: 40px;
    padding-left: 25px;
    font-size: 1.2em;
    color: #fff;
    background: url(../img/bg_point.png) no-repeat 5px center;
    background-size: contain;
}

dl#point dd{
    font-family: Arial, Helvetica, sans-serif;
    padding-right: 20px;
    padding-bottom: 20px;
}

div#capture{
    clear: both;
}

div#capture p{
    text-align: center;
    color: #fff;
}

div#capture img{
    width:100%;
    height:450px;
    object-fit:none;
    object-position:45% 0;
    border-radius: 10px;
}

/* ----- プロフィール・ヒストリー・スキル・ポイント ----- */
section#prof dl dt{
    margin-left: 1em;
    padding-left: 1em;
    height:50px;
    font-size: 21px;
    letter-spacing: 0.05em;
    line-height: 45px;
    color: #fff;
}

section#prof dl dd{
    margin-bottom: 2em;
    font-family: 'M PLUS 1p', sans-serif;
    font-weight: 600;
    line-height: 1.6em;
}

div#prof_title{
    margin: inherit;
    height: 350px;
    background: url(../img/drumcat.png) no-repeat center 60px;
}

dt.pr{
    background: url(../profile/img/fukudasi_pr.svg) no-repeat left center;
    background-size: contain;
}

dt.history{
    background: url(../profile/img/fukidasi_his.svg) no-repeat left center;
    background-size: contain;
}

dt.skills{
    background: url(../profile/img/fukidasi_skill.svg) no-repeat left center;
    background-size: contain;
}

div.it_skills{
    margin-left: 25px;
    font-size: 1.2em;
}

div.it_skills dd{
    display: block;
    float: left;
    margin-left: 2%;
    margin-right: 2%;
    padding: 1em;
    width: 46%;
    background-color: #fff;
    border: 2px solid #898055;
    border-radius: 10px;
}

div.it_skills p{
    height: 3em;
    margin: 0;
    color: #DF3500;
    font-family: 'Miltonian Tattoo', cursive;
    font-size: 1.6em;
}

div.it_skills dd.dtp,dd.web{
    font-size: 0.8em;
}

dd.dtp p{
    padding-right: 33%;
    background-image: url(../profile/img/adb-photoshop_icon-icons.com_50960.png),url(../profile/img/adb-illustrator_icon-icons.com_50964.png);
    background-repeat: no-repeat,no-repeat;
    background-position: right top , 165px top;
}
dd.web p{
    line-height: 30px;
    background-image: url(../profile/img/css3-01_icon-icons.com_50918.png),url(../profile/img/html5-01_icon-icons.com_50875.png);
    background-repeat: no-repeat,no-repeat;
    background-position: right top , 165px top;
}


/* ----------- 戻るボタン部分 ----------- */
div#button{
    clear: both;
    margin-top: 30px;
}

div#button a{
    display: block;
    margin: 0 auto;
    color: #fff;
    font-size: 24px;
    text-align: center;
    background: url(../img/bt_back.png) no-repeat center center;
    background-size: contain;
}

div#button a:hover{
    position: relative;
    top: 3px;
    left: 1px;
}

/* ----------- フッター部 ----------- */
footer{
    clear: both;
    padding: 2em;
    color: #782000;
    background: url(../img/reluxneco.png) no-repeat 98% center;
}

footer div{
    height: 100px;
    padding-top: 5%;
    line-height: 1em;   
}

footer h3{
    text-align: left;
    font-size: 1.4em;
    margin-block-start: 0;
    margin-block-end: 0;
}

footer p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.7em;
}